body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table {
    width: 400px;
}

th {
    text-align: left;
}


table, td, th {
    border: 1px solid #000;
    border-collapse: collapse;
}

th, td {
    padding: 10px;

}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #ddd;
}


.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

a {
    
    color: black;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}